<div class="books-container">

  @if (books.length > 0) {

    <div class="books-grid">
      @for (book of books; track book.isbn) {
        <div class="book-card" >
          <h3>{{ book.title }}</h3>
          <img
            class="cover"
            [src]="'https://covers.openlibrary.org/b/isbn/' + book.isbn + '-M.jpg'"
            alt="cover"
          />
          <div class="info">

            <p class="author">{{ book.author }}</p>
            <span
              class="badge"
              [class.available]="(book.availableCopies>0)"
              [class.unavailable]="(book.availableCopies<=0)">
              {{ (book.availableCopies>0) ? 'Disponible' : 'Indisponible' }}
            </span>
            <button class="button_detail" [routerLink]="['/viewBooks/detail', book.isbn]">
              Détail
            </button>
          </div>
          @if ((book.availableCopies>0)) {
            <button class="button_emprunt" (click)="emprunter(book)">
              Emprunter
            </button>
          } @else {
            <button class="button_reserve" (click)="reserver(book)">
              Réserver
            </button>
          }


        </div>
      }
    </div>

  } @else {
    <p>Chargement des livres...</p>
  }

</div>
