<div class="search-container">

  <input
    type="text"
    placeholder="Rechercher (titre, auteur, ISBN)"
    [(ngModel)]="searchText"
  />

  <select [(ngModel)]="categoryId">
    <option [ngValue]="0">Toutes catégories</option>
    <option [ngValue]="1">Programming</option>
    <option [ngValue]="3">Fantasy</option>
    <option [ngValue]="4">Science Fiction</option>
    <option [ngValue]="5">History</option>
    <option [ngValue]="6">Biography</option>
    <option [ngValue]="7">Romance</option>
    <option [ngValue]="8">Technology</option>
    <option [ngValue]="9">Thriller</option>
    <option [ngValue]="10">Education</option>
    <option [ngValue]="11">Children</option>
  </select>

  <select [(ngModel)]="available">
    <option value="null">Tous</option>
    <option [ngValue]="true">Disponible</option>
    <option [ngValue]="false">Indisponible</option>
  </select>

  <button (click)="search()">Rechercher</button>

</div>

<div class="books-container">

  @if (books.length > 0) {

    <div class="books-grid">
      @for (book of booksAffichage; track book.isbn) {
        <div class="book-card">
          <h3>{{ book.title }}</h3>
          <img
            class="cover"
            [src]="'https://covers.openlibrary.org/b/isbn/' + book.isbn + '-M.jpg'"
            alt="cover"
          />
          <div class="info">

            <p class="author">{{ book.author }}</p>
            <span
              class="badge"
              [class.available]="(book.availableCopies>0)"
              [class.unavailable]="(book.availableCopies<=0)">
              {{ (book.availableCopies>0) ? 'Disponible' : 'Indisponible' }}
            </span>

            <!-- ⭐ Note moyenne -->
            <div class="stars-display">
              @for (star of [1,2,3,4,5]; track star) {
                <span [class.filled]="star <= getAverageRounded(book.id!)">★</span>
              }
              <small>{{ (averages[book.id!] || 0) | number:'1.1-1' }}/5</small>
            </div>


            <button class="button_detail" [routerLink]="['/viewBooks/detail', book.id]">
              Détail
            </button>
          </div>

          @if (isBorrowed(book.id!)) {
            <button class="button_emprunter" disabled>
              Livre déjà emprunté
            </button>
          }
          @else if (isReserved(book.id!)) {
            <button class="button_emprunter" disabled>
              Livre déjà réservé
            </button>
          }
          @else if (book.availableCopies > 0) {
            <button class="button_emprunt" (click)="emprunter(book)">
              Emprunter
            </button>
          }
          @else {
            <button class="button_reserve" (click)="reserver(book)">
              Réserver
            </button>
          }

        </div>
      }
    </div>

  } @else {
    <p>Chargement des livres...</p>
  }

</div>
