<header class="header">

  <!-- COLONNE 1 -->
  <div class="left">
    <a routerLink="/" class="logo">
      BookHub
    </a>
  </div>

  <!-- COLONNE 2 -->
  <div class="center">
    <app-search-view></app-search-view>
  </div>

  <!-- COLONNE 3 -->
  <div class="right">
    <button [routerLink]="['/createBook']">Ajout</button>
    <button>Compte</button>
    <a routerLink="/loans">Mes emprunts</a>
    <a routerLink="/reservations">Mes réservations</a>
    <button (click)="logout()">Se déconnecter</button>
  </div>

</header>
