<div class="book-detail">

  @if (!book) {
    <div class="loading">
      Chargement du livre...
    </div>
  } @else {

    <div class="book-header">

      <div class="cover">
        <img
          [src]="'https://covers.openlibrary.org/b/isbn/' + book.isbn + '-M.jpg'"
          alt="book cover">
      </div>

      <div class="info">
        <h1>{{ book.title }}</h1>
        <p class="author"> {{ book.author }}</p>
        <p class="isbn">ISBN : {{ book.isbn }}</p>

        @if (book.category) {
          <span class="category">
           Catégorie : {{ book.category.name }}
          </span>
        }

        <p class="stock">
          {{ book.availableCopies }} / {{ book.totalCopies }} disponibles
        </p>
        @if ((book.availableCopies>0)) {
          <p class="status_ok">Disponible</p>
        } @else {
          <p class="status_empty">Indisponible</p>
        }

        @if (book.averageRating !== undefined) {
          <p class="rating">
            {{ book.averageRating }} / 5
          </p>
        }
        @if ((book.availableCopies>0)) {
          <button class="button_emprunt" (click)="emprunter(book)">
            Emprunter
          </button>
        } @else {
          <button class="button_reserve" (click)="reserver(book)">
            Réserver
          </button>
        }
        <button class="button_update" [routerLink]="['/viewBooks/update', book.isbn]">
          Mise a jour
        </button>

      </div>
    </div>

    <div class="description">
      <h2>Description</h2>
      <p>
        {{ book.description || 'Aucune description disponible pour ce livre.' }}
      </p>
    </div>

  }

</div>
