<div class="create-container">

  @if (book){
  <h2>Mise a jour du livre {{book.title}}</h2>

  <form [formGroup]="bookForm" (ngSubmit)="submit()">

    <label>Titre</label>
    <input type="text" formControlName="title">

    <label>Auteur</label>
    <input type="text" formControlName="author">

    <label>ISBN</label>
    <input type="text" formControlName="isbn">

    <label>Description</label>
    <textarea formControlName="description"></textarea>

    <label>URL couverture</label>
    <input type="text" formControlName="coverImage">

    <label>Copies totales</label>
    <input type="number" formControlName="totalCopies">

    <label>Copies disponibles</label>
    <input type="number" formControlName="availableCopies">

    <label>Catégorie</label>
    <select formControlName="categoryId">
      <option value="">-- Choisir une catégorie --</option>

      @for (cat of categories; track cat.id) {
        <option [value]="cat.id">
          {{ cat.name }}
        </option>
      }
    </select>

    <button type="submit">
      Modifier le livre
    </button>

  </form>
  } @else {
    <h2>Chargement...</h2>
  }

</div>
