<div class="create-container">

  <h2>Ajouter un livre</h2>

  <form [formGroup]="bookForm" (ngSubmit)="submit()">

    <label>Titre</label>
    <input type="text" formControlName="title">

    <label>Auteur</label>
    <input type="text" formControlName="author">

    <label>ISBN</label>
    <input type="text" formControlName="isbn">

    <label>Description</label>
    <textarea formControlName="description"></textarea>

    <label>URL couverture</label>
    <input type="text" formControlName="coverImage">

    <label>Copies totales</label>
    <input type="number" formControlName="totalCopies">

    <label>Copies disponibles</label>
    <input type="number" formControlName="availableCopies">

    <label>Catégorie</label>
    <select formControlName="categoryId">
      <option value="">-- Choisir une catégorie --</option>
      @for (cat of categories; track cat.id) {
        <option [value]="cat.id">
          {{ cat.name }}
        </option>
      }
    </select>

    <button type="submit">
      Ajouter le livre
    </button>

  </form>

</div>
